.Main {
  max-width: 1160px;
  min-width: 288px;
  max-height: 2rem;

  // .InfoIcon {
  //   margin-bottom: 10px;
  //   margin-left: calc(-2rem * 5);
  //   height: 1.3em;
  //   width: 1.3em;
  //   cursor: pointer;
  // }
}