@media (max-width: 750px) {
  .Grid {
    width: 100%;
    flex-direction: column;
    color: #000;
    border-color: #eaeaea;
    background-color: #eaeaea;
    box-shadow: 0 0 10px 1px #eaeaea;
  }
}