.Footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: space-around;
  font-size: 1.2rem;
  align-items: center;
  max-width: 1160px;
  min-width: 50%;
  z-index: 100px;

  p {
    cursor: pointer;
    
    a {
      cursor: pointer;

      span.Logo {
        color: #0070f3;
        text-decoration: none;
        height: 1em;
        margin-left: 0.5rem;
        animation: flicker 1.5s infinite alternate;
        cursor: pointer;
    
        :hover,
        :focus,
        :active {
          text-decoration: underline;
          text-shadow: 0 0 0.1rem #0070f3;
        }
      }
    }
  }
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #0070f3;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

@media (max-width: 320px) {
  .Footer {
    margin-top: 2rem;
    max-width: 90%;
    justify-content: center;
    font-size: 0.7rem;
    padding: 1rem 0;
  }
}
